@charset "utf-8";
/* CSS Document */
body
{
	
}

#printer_toolbox
{
	color:#FFF;
	width:150px;
	background-color:#666;
	border-radius: 5px;
	position:fixed;
	float:left;
	margin:0px;
	padding: 10px;
}

#printer_toolbox a
{
	text-decoration:none;
	color:#FFF;
	font-size:40px;
}


.main
{
	width:5in;
	height: 3in;
	border: #CCC solid 1px;
	margin:auto;
	padding: 10px;
}